.idea
.vscode
bak
crm
bin.tar.gz
dist.tar.gz
default.json.*
*.log
*.log.*
/bin/*
*.sys.*

egoctl
egoctl-linux
egoctl-darwin

*.log
*.log.*

*.swp
*.swo
.idea
egoctl.go
egoctl.toml
.egoctl.timestamp
logs
